# Ignore node_modules directory
node_modules/

# Ignore build output
build/
dist
dist-ssr

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore macOS specific files
.DS_Store

# Ignore editor backup files
*~